.body{


}
.container{
margin:0 auto;


}

.button{
display: flex;
margin:50%;
text-align: center;
justify-content: center;

}

#doge{
width: 200px;
background-color: red;
font-color: black;
font-weight:bolder;
font-size: 20px;


}
